// Navbar
a.navbar-brand {
  margin-top: 5px;
}

.navbar-btn.btn-primary {
  &:hover {
    background-color: #3A7BB3;
  }
  
  &:active {
    background-color: #4C9FE6;
  }
}

.navbar-btn.btn-danger {
  padding: 10px 0px 10px 0px;
}

.user-name {
padding-top: 10px;
text-align: center;
}

// Footer
.footer {
  margin-top: 30px;
  color: #999;
}

// Other
.red-text {
  color: red;
}