<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%- model_class = Image -%>
      <div class="page-header text-center">
        <h1>Upload a Photo</h1>
      </div>
      <%= render :partial => 'form' %>
    </div>
  </div>
</div>