<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
    <!--Navbar Logo-->
    <a href="/"><span class="navbar-brand"><i class="fa fa-camera-retro"></i> Photo App</span></a>
    
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-right col-md-4">
        <% if current_user %>
        
          <li class="col-md-8 user-name">
            <%= link_to ('<i class="fa fa-user"></i> ' + truncate(current_user.email, length: 25)).html_safe,
                                                        edit_user_registration_path, title: 'Edit Profile', class: "navbar-link" %>
          </li>
          <li class="col-md-3 logout"><%= link_to('Logout', destroy_user_session_path,
                                class: 'navbar-btn btn-danger text-center', title: 'Logout', :method => :delete) %></li>
        
        <% else %>
        
          <li class="col-md-4 pull-right">
            <%= link_to('Sign In', new_user_session_path, class: 'navbar-btn btn-primary text-center', title: 'Sign In') %>
          </li>
          
        <% end %>
      </ul>
    </div>
  </div>
</div>